@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Petit+Formal+Script&display=swap');

html {
  min-width: 300px;
}

body {
  margin: 0;
  font-family: 'Open Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 101vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.uitkLink.uitkText,
.uitkLink.uitkText:visited {
  color: var(--link-color-active, steelblue);
}

h1,
h2,
h3,
h4 {
  margin: 0;
}
