@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Petit+Formal+Script&display=swap');

html {
  min-width: 200px;
}

body {
  margin: 0;
  font-family: 'Open Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 101vh;
  --saltLink-color-active: var(--salt-color-blue-200);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.saltLink.saltText,
.saltLink.saltText:visited {
  --saltIcon-color: var(--saltLink-color-active);
  color: var(--saltLink-color-active);
}

h1,
h2,
h3,
h4 {
  margin: 0;
}
